/*///////////////////////// Estilos generales /////////////////////////*/
body, html{
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 16px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    color: #333;
}
.full-width{
    margin: 0;
    padding: 0;
    width: 100%;
}
.center-box{
    margin:0 auto;
}
.font-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #F5F5F5;
}
/*====== Backgrouns color*/
.bg-primary {
    background-color: #2e6da4 !important;
}
.bg-success {
    background-color: #3f903f !important;
}
.bg-danger {
    background-color: #d9534f !important;
}
.bg-info {
    background-color: #5bc0de !important;
}
.NavLateral,
.ContentPage{
    position: absolute;
    top: 0;
    height: 100%;
}
/*====== Navegación lateral*/
.NavLateral{
    left: 0;
    width: 20%;
}
.NavLateral-content{
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: #263238;
    color: #263238;  
}
.NavLateral-title{
    height: 50px;
    line-height: 50px;
    color: #263238;
    background-color: #263238;
    font-size: 25px;
}
.NavLateral-title-btn{
    opacity: 0;
}
.NavLateral-logo{
    padding: 20px 0;
    color: #263238;
    background-color: #263238;
}
.NavLateral-logo img{
    width: 55%;
    height: auto;
    display: block; 
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #263238;
}
.NavLateralDivider{
    height: 0 !important;
    width: 95% !important;
    background-color: transparent;
    border: none; 
    border-top: 1px solid rgba(0,0,0,0.9);
    border-bottom:1px solid rgba(255,255,255,0.08);
    margin: 0 auto !important;  
}
.NavLateral-Nav ul li{
    height: auto;
    margin: 0;
    padding: 0;
}
.NavLateral-Nav ul li a{
    height: 45px;
    line-height: 45px;
    width: 100%;
    font-size: 14px;
    padding-left: 9px;
    display: block;
    color: #C7C5C7;
    transition: all .3s ease-in-out;
}
.NavLateral-Nav ul li a i{
    font-size: 18px;
}
.NavLateral-Nav ul li a:hover{
    color: #FFF;  
    background-color: rgb(45,45,45); 
}
.NavLateral-CaretDown{
    float: right;
    line-height: 45px;
    margin-right: 9px;
    font-size: 20px !important;  
}
.NavLateral-CaretDownRotate{
    transform: rotate(-180deg);   
}
.NavLateral-Nav > ul > li > ul{
    background-color: rgb(38,50,56);
    display: none;
}
.NavLateral-Nav > ul > li > ul > li > a{
    padding-left: 19px;
}